:root {
  --primary: rgb(0, 0, 102);
  --secondary: rgba(0, 0, 255, 0.747);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Winky Rough", sans-serif;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-section {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

input[type="text"] {
  height: 3rem;
  width: 22rem;
  border-color: rgba(0, 0, 255, 0.479);
  border-radius: 5px;
  border-width: 0.13rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"]:focus {
  border-color: rgba(0, 0, 255, 0.658);
  outline: none;
}

.qr-container {
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.qr-img {
  width: 20rem;
}

.gen-btn {
  background-color: var(--secondary);
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 0.8rem;
  border-radius: 5px;
  width: 25rem;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}

.gen-btn:hover {
  background-color: rgb(0, 0, 201);
}
